<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account - <%=user.username%>
    </title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <nav class="nav-bar">
        <div class="nav-items user">
            <%=user.name%>
        </div>
        <div class="nav-items">
            <a class="user go-back" href="/home">Go back</a>
            <div class="menu-container ham">
                <button class="hamburger-button" onclick="toggleMenu()">☰</button>
                <div class="menu-dropdown ham-dropdown" id="menu">
                    <a class="" href="/home">Home </a>
                    <a id="home-logout" href="#">Log out</a>
                </div>
            </div>
        </div>
    </nav>

    <section>
        <div class="main-cont">
            <div class="settings">
                <a href="" class="post settings-post content" id="changeUsernameBtn">
                    Change username
                </a>
                <a href="" class="post settings-post content" id="changeNameBtn">
                    Change name
                </a>
                <a href="" class="post settings-post content" id="changePasswordBtn">
                    Change password
                </a>
                <a href="" class="post settings-post content" id="deleteAccountBtn"
                    style="color: rgba(255, 0, 0, 0.7);">
                    Delete account
                </a>
            </div>
        </div>
    </section>

    <!-- Change username window -->
    <div id="usernameModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal3">&times;</span>
            <h2 style="margin-bottom: 30px;">Change username</h2>
            <form class="updateUsernameForm" action="/updateusername" method="POST">
                <input required style="margin-bottom: 10px;" class="" name="username"
                    value="<%=user.username%>"></input>
                <input onclick="updateUsername()" class="submit-form" type="submit" value="Change username"></input>
                <span id="updateUsernameError"
                    style="background-color: #0f1319; font-size: smaller; display: block;"></span>
            </form>
        </div>
    </div>

    <!-- Change name window -->
    <div id="nameModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal4">&times;</span>
            <h2 style="margin-bottom: 30px;">Change name</h2>
            <form class="updateNameForm" action="/updatename" method="POST">
                <input required style="margin-bottom: 10px;" class="" name="name"
                    value="<%=user.name%>"></input>
                <input onclick="updateName()" class="submit-form" type="submit" value="Change name"></input>
                <span id="updateNameError"
                    style="background-color: #0f1319; font-size: smaller; display: block;"></span>
            </form>
        </div>
    </div>

    <!-- Change password window -->
    <div id="passwordModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2>Change Password</h2>
            <form class="updatePasswordForm" action="/updatepassword" method="POST">
                <input required type="password" placeholder="Current Password" name="currentPassword">
                <input required type="password" placeholder="New Password" name="newPassword">
                <input required type="password" placeholder="Confirm New Password" name="newPasswordAgain">
                <input onclick="getData()" class="submit-form" type="submit" value="Update Passsword"></input>
                <span id="currentPasswordError"
                    style="background-color: #0f1319; font-size: smaller; display: block;"></span>
            </form>
        </div>
    </div>

    <!-- Delete account window -->
    <div id="accountModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal2">&times;</span>
            <h2 style="margin-bottom: 30px;">Delete Account</h2>
            <form class="deleteAccountForm" action="/deleteaccount" method="POST">
                <input id="delAcc" type="password" placeholder="Enter your password" name="confirmPassword" required>
                <input onclick="deleteAcc()" class="submit-form" type="submit"
                    style="background-color: rgba(255, 0, 0, 0.6);" value="Delete Account"></input>
                <span id="wrongPasswordError"
                    style="background-color: #0f1319; font-size: smaller; display: block;"></span>
            </form>
        </div>
    </div>

    <!-- Password changed message window -->
    <div id="passwordChanged" class="modal">
        <div class="modal-content alert1">
            <h3 style="background-color: #0f1319; color: rgba(0, 200, 0, 0.8);">Password Changed.</h3>
            <div style="width: 100%; display: flex; justify-content: end; align-items: end; background-color: #0f1319;">
                <input id="close1" class="submit-form post-submit" type="submit" value="Dismiss"></input>
            </div>
        </div>
    </div>

    <!-- Account deleted message window -->
    <div id="accountDeleted" class="modal">
        <div class="modal-content alert2">
            <h3 style="background-color: #0f1319;">Account Deleted.</h3>
            <div style="width: 100%; display: flex; justify-content: end; align-items: end; background-color: #0f1319;">
                <input id="close2" class="submit-form post-submit" type="submit" value="Dismiss"></input>
            </div>
        </div>
    </div>

    <!-- username updated message window -->
    <div id="usernameUpdated" class="modal">
        <div class="modal-content alert3">
            <h3 style="background-color: #0f1319;">Username updated.</h3>
            <div style="width: 100%; display: flex; justify-content: end; align-items: end; background-color: #0f1319;">
                <input id="close3" class="submit-form post-submit" type="submit" value="Dismiss"></input>
            </div>
        </div>
    </div>

    <!-- name updated message window -->
    <div id="nameUpdated" class="modal">
        <div class="modal-content alert4">
            <h3 style="background-color: #0f1319;">Name updated.</h3>
            <div style="width: 100%; display: flex; justify-content: end; align-items: end; background-color: #0f1319;">
                <input id="close4" class="submit-form post-submit" type="submit" value="Dismiss"></input>
            </div>
        </div>
    </div>

    <!-- Log out confirmation window -->
    <div id="logout" class="modal">
        <div class="modal-content alert1">
            <h3>Are you sure you want to log out?</h3>
            <div class="btns">
                <input id="cancelBtn" style="background-color: rgba(79, 100, 131, 0.2);" class="submit-form post-submit"
                    type="submit" value="Cancel"></input>
                <input id="logoutBtn" style="background-color: rgba(200, 0, 0, 0.9);" onclick=""
                    class="submit-form post-submit" type="submit" value="Log out"></input>
            </div>
        </div>
    </div>
    <script>

        // Change password window
        const modal = document.getElementById("passwordModal");
        const changePasswordBtn = document.getElementById("changePasswordBtn");
        const closeModal = document.getElementById("closeModal");
        const errorMessage = document.getElementById("currentPasswordError");

        changePasswordBtn.addEventListener("click", (event) => {
            event.preventDefault();
            errorMessage.textContent = "";
            modal.style.display = "block";
        });

        closeModal.addEventListener("click", () => {
            modal.style.display = "none";
        });

        async function getData() {
            changePasswordBtn.removeAttribute("disabled");
            const url = "/updatepassword";
            const data = {
                currentPassword: document.querySelector('input[name="currentPassword"]').value,
                newPassword: document.querySelector('input[name="newPassword"]').value,
                newPasswordAgain: document.querySelector('input[name="newPasswordAgain"]').value
            };
            if (data.currentPassword === "" || data.newPassword === "" || data.newPasswordAgain === "") {
                changePasswordBtn.setAttribute("disabled");
            }
            event.preventDefault();
            const response = await fetch(url, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(data)
            });
            const result = await response.json();
            if (response.ok) {
                displayMessage("success", result.message);
                document.getElementById("passwordModal").style.display = 'none';
                document.getElementById("passwordChanged").style.display = 'block';
            } else {
                displayMessage("error", result.message);
            }
        }
        // function to display message according to the response
        function displayMessage(type, message) {
            errorMessage.textContent = "";
            errorMessage.style.color = type === "error" ? "red" : "green";
            errorMessage.textContent = message;
        }


        // Delete account window
        const modal2 = document.getElementById("accountModal");
        const deleteAccountBtn = document.getElementById("deleteAccountBtn");
        const closeModal2 = document.getElementById("closeModal2");

        deleteAccountBtn.addEventListener("click", (event) => {
            event.preventDefault();
            modal2.style.display = "block";
        });

        closeModal2.addEventListener("click", () => {
            modal2.style.display = "none";
        });

        async function deleteAcc() {
            const url = "/deleteaccount";
            const data = {
                currentPassword: document.querySelector('input[name="confirmPassword"]').value
            };
            if (data.currentPassword === "") {
                deleteAccountBtn.setAttribute("disabled");
            }
            event.preventDefault();
            const response = await fetch(url, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(data)
            });
            const result = await response.json();
            if (response.ok) {
                document.getElementById("accountModal").style.display = "none";
                document.getElementById("accountDeleted").style.display = "block";
            } else {
                const errorMessage = document.getElementById("wrongPasswordError");
                errorMessage.style.color = "red";
                errorMessage.textContent = "";
                errorMessage.textContent = result.message;
            }
        }

        // Change username window
        const changeUsernameBtn = document.getElementById("changeUsernameBtn");
        const modal3 = document.getElementById("usernameModal");
        const closeModal3 = document.getElementById("closeModal3");

        changeUsernameBtn.addEventListener("click", () => {
            event.preventDefault();
            modal3.style.display = "block";
        });

        closeModal3.addEventListener("click", () => {
            modal3.style.display = "none";
        });

        async function updateUsername() {
            const url = "/updateusername";
            const data = {
                username: document.querySelector('input[name="username"]').value,
            };
            if (data.username === "") {
                changeUsernameBtn.setAttribute("disabled");
            }
            event.preventDefault();
            const response = await fetch(url, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(data)
            });
            const result = await response.json();
            if (response.ok) {
                document.getElementById("usernameModal").style.display = "none";
                document.getElementById("usernameUpdated").style.display = "block";
            } else {
                const errorMessage = document.getElementById("updateUsernameError");
                errorMessage.style.color = "red";
                errorMessage.textContent = "";
                errorMessage.textContent = result.message;
            }
        }
        
        // Change name window
        const modal4 = document.getElementById("nameModal");
        const changeNameBtn = document.getElementById("changeNameBtn");
        const closeModal4 = document.getElementById("closeModal4");

        changeNameBtn.addEventListener("click", (event) => {
            event.preventDefault();
            modal4.style.display = "block";
        });

        closeModal4.addEventListener("click", () => {
            modal4.style.display = "none";
        });

        async function updateName() {
            const url = "/updatename";
            const data = {
                name: document.querySelector('input[name="name"]').value,
            };
            if (data.name === "") {
                changeNameBtn.setAttribute("disabled");
            }
            event.preventDefault();
            const response = await fetch(url, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(data)
            });
            const result = await response.json();
            if (response.ok) {
                document.getElementById("nameModal").style.display = "none";
                document.getElementById("nameUpdated").style.display = "block";
            } else {
                const errorMessage = document.getElementById("updateUsernameError");
                errorMessage.style.color = "red";
                errorMessage.textContent = "";
                errorMessage.textContent = result.message;
            }
        }

        // Logout functionality
        const logout = document.getElementById("logout");
        const logoutLink = document.getElementById("home-logout");
        const cancelBtn = document.getElementById("cancelBtn");
        const logoutBtn = document.getElementById("logoutBtn");

        logoutLink.addEventListener("click", (event) => {
            logout.style.display = "block";
        });
        cancelBtn.addEventListener("click", (event) => {
            logout.style.display = "none";
        });
        window.addEventListener("click", (e) => {
            if (e.target === logout) {
                logout.style.display = "none";
            }
        });
        logoutBtn.addEventListener("click", (event) => {
            document.location.replace('/logout');
        });

        // Message display windows
        const alertBox1 = document.getElementById("passwordChanged");
        const alertBox2 = document.getElementById("accountDeleted");
        const alertBox3 = document.getElementById("usernameUpdated");
        const alertBox4 = document.getElementById("nameUpdated");

        // Close - window clicks
        window.addEventListener("click", (e) => {
            if (e.target === modal || e.target === modal2 || e.target === modal3 || e.target
            === modal4 || e.target === alertBox1 || e.target === alertBox2 || e.target === alertBox3 || e.target === alertBox4) {
                modal.style.display = "none";
                modal2.style.display = "none";
                modal3.style.display = "none";
                modal4.style.display = "none";
                alertBox1.style.display = "none";
                alertBox2.style.display = "none";
                alertBox3.style.display = "none";
                alertBox4.style.display = "none";
            }
        });

        // Close - dismiss buttons
        document.getElementById('close1').addEventListener("click", () => {
            alertBox1.style.display = "none";
        });
        document.getElementById('close2').addEventListener("click", () => {
            alertBox2.style.display = "none";
            document.location.replace('/');
        });
        document.getElementById('close3').addEventListener("click", () => {
            alertBox3.style.display = "none";
            document.location.replace('/account');
        });
        document.getElementById('close4').addEventListener("click", () => {
            alertBox4.style.display = "none";
            document.location.replace('/account');
        });

        function toggleMenu(e) {
            event.stopPropagation();
            closeAllMenus(); // Close other menus before opening the new one

            let menuContainer = event.target.closest(".menu-container");
            let dropdown = menuContainer.querySelector(".menu-dropdown");
            dropdown.classList.toggle("show");
        }
        function closeAllMenus() {
            document.querySelectorAll(".menu-dropdown").forEach(menu => {
                menu.classList.remove("show");
            });
        }
        document.addEventListener("click", function (event) {
            closeAllMenus();
        });

    </script>
</body>

</html>