<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body class="auth">
    <div class="form-section">
        <form action="/create" method="POST">
            <h2 class="heading">Create an account</h2>
            
            <input required placeholder="Email" type="text" name="email">
            <input required placeholder="Username" type="text" name="username">
            <input required placeholder="Name" type="text" name="name">
            <input required placeholder="Passsword" type="password" name="password">
            <input class="submit-form" id="submit" type="submit" value="Create Account">

            <p class="login">Already have an account? <a class="login" href="/login">Log in</a></p>
        </form>
    </div>
</body>
</html>