* {
    background-color: #242d34;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.auth {
    display: flex;
    align-items: center;
    height: 100vh;
}
form {
    display: flex;
    flex-direction: column;
    background-color: #0f1319;
}
.form-section {
    border-top: 2px solid rgba(0, 255, 255, 0.8);
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    background-color: #0f1319;
    width: 30%;
    max-width: 400px;
    height: 80vh;
    max-height: 600px;
}
.create-post, .post {
    background-color: #0f1319;
    padding: 20px;
    height: fit-content;
    border-radius: 20px;
    border-top: 2px solid rgba(0, 255, 255, 0.8);
    margin: 0px 0px 40px 0px;
    width: 100%;
}
.post {
    margin: 16px 0px 0px 0px;
    border-radius: 6px;
    border: none;
}
.heading {
    margin-bottom: 30px;
    color: rgb(255, 255, 255, 0.9);
    background-color: #0f1319;
}
.post-heading {
    margin: 0px 0px 16px 0px;
}
.post-content, input {
    color: white;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: 2px solid #282e38;
    resize: none;
    background-color: #0f1319;   
}
input {
    border: 1px solid #282e38;
    height: 42px;
    margin-bottom: 10px;
    background-color: #ffffff00;
}
.submit-form {
    background-color: rgb(0, 100, 209); 
    color: white;
    border: none;
    transition: 0.1s;
    margin-top: 10px;
}
.submit-form:hover {
    cursor: pointer;
    background-color: rgb(0, 88, 182);
}
.post-submit {
    width: fit-content;
    padding: 10px;
}
.unabled, .unabled:hover {
    background-color: #242d3481; 
    color: rgba(255, 255, 255, 0.429);
}
.login {
    margin-bottom: 60px;
    font-size: small;
    background-color: #0f1319;
    color: #ffffff;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .form-section {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .form-section {
        height: fit-content;
        width: 60%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .form-section {
        height: fit-content;
        width: 90%;
        padding: 10px;
    }
    
    input {
        font-size: 14px;
        height: 38px;
    }
    
    .submit-form {
        font-size: 14px;
        height: 40px;
    }

    .login {
        font-size: 12px;
    }
}
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255, 0.9);
}
.main-cont {
    width: 38%;
    max-width: 600px;
    min-width: 320px;
}
.profile-heading, .sub-heading {
    width: fit-content;
}
.nav-bar {
    margin: auto;
    width: 38%;
    max-width: 600px;
    min-width: 320px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.nav-items {
    color: white;
    margin: auto 20px;
}
.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.account {
    background-color: #4f6483;
}
.name {
    font-size: large;
    font-weight: 500;
    padding: 0px;
    align-items: end;
    background-color: rgba(255, 255, 255, 0);
}
.content {
    white-space: pre-line;
    color: rgba(255, 255, 255, 0.9);
    margin: 0px 0px 8px 0px;
    background-color: #0f1319;
}
.settings {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
}
.settings-post {
    margin: 0px 0px 8px 0px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    background-color: #0f1319;
    text-decoration: none;
    padding: 16px;
}
/* Profile styling */
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(115, 115, 115, 0.5);
}
.modal-content {
    background-color: #0f1319;
    margin: 13vh auto;
    padding: 20px;
    border-top: 1px solid aqua;
    height: 74%;
    width: 26%; 
    min-width: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.alert1, .alert2, .alert3, .alert4 {
    margin: 40vh auto; 
    height: 18vh;
}
h2, h3 {
    margin: 0px 0px 20px 0px;
    color: white;
    background-color: #0f1319;
}
.close {
    background-color: #0f1319;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: #aaa;
    text-decoration: none;
}
.modal form {
    background-color: #0f1319;
    display: flex;
    flex-direction: column;
}
#logout .btns{
    background-color: #0f1319;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
#logout .btns input{
    margin: 10px;
}
#logout .alert1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 38vh auto;
    height: 20vh;
}
.nav-links {
    display: flex;
    flex-direction: row;
}
@media (max-width: 1024px) {
    .main-cont, .nav-bar {
        width: 50%;
    }
    .nav-bar {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .main-cont, .nav-bar {
        width: 80%;
    }
    .nav-bar {
        padding: 10px;
        justify-content: space-between;
    }
    .nav-links {
        flex-direction: row;
        align-items: flex-end;
    }
    .nav-items{
        font-size: small;
        padding: 8px 12px;
        margin: 5px;
    }
    .modal-content {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .main-cont, .nav-bar {
        width: 90%;
    }
    .nav-bar {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }
    .nav-links {
        flex-direction: row;
        align-items: center;
    }
    .nav-items {
        text-align: center;
        padding: 10px;
    }
    .create-post {
        padding: 15px;
    }
    .submit-form {
        width: 100%;
    }
    .modal-content {
        width: 90%;
        padding: 15px;
    }
    .hamburger-button {
        margin-left: 0px;
    }
}
.likeNtime {
    background-color: #0f1319;
    display: flex;
    flex-direction: row;
    color: gray;
    font-size: 14px;
}
.user {
    font-size: medium;
    background-color: rgba(79, 100, 131, 0.4);
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
}
.menu-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    background-color: #0f1319;
}

.user-name {
    color: gray;
    font-size: medium;
    font-weight: normal;
    background-color: #0f1319;
    margin-bottom: 0px;
} 

.menu-button, .hamburger-button {
    color: white;
    font-size: 22px;
    cursor: pointer;
    border: none;
    background: none;
    background-color: #0f1319;
}
.menu-button {
    background-color: #0f1319;

}
.hamburger-button {
    margin-left: 10px;
    background-color:#242d34;
}
.menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background: #242d34;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    min-width: 120px;
    padding: 5px 0;
    flex-direction: column;
    margin-top: 60px;
    width: 180px;
    height: 100px;
    justify-content: space-around;
}
.menu-dropdown a, .go-back {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: medium;
    margin: 0px 10px 0px 10px;
    border-radius: 4px;
}
.fa-pen-to-square {
    background-color: #ffffff00;
}
.fa-ellipsis-vertical {
    padding: 0px 8px 6px 8px;
    align-self: flex-start;
    font-size: large;
    background-color: #ffffff00;
}
.hamburger-button {
    background-color: #242d34;
}
.menu-dropdown a:hover, .go-back:hover {
    background: #1c2329;
}
.show {
    display: flex;
}
#home-logout:hover {
    background-color: rgba(200, 0, 0, 0.9);
}

@media (max-width: 480px) {
    .menu-dropdown {
        text-align: start;
        width: 140px;
        height: 100px;
    }
    .menu-dropdown a {
        justify-content: start;
    }   
    .hamburger-button {
        margin-left: 4px;
    }
}
.like, .fa-heart {
    background-color: #202936;
}
.fa-heart {
    margin-right: 8px;
}
.dateNtime, .like-count {
    align-self: center;
    background-color: #0f1319;
}
.like-count {
    background-color: #202936;
    color: white;
}
.likeNheart {
    text-decoration: none;
    color: white;
    background-color: #202936;
    width: fit-content;
    padding: 5px 8px;
    display: flex;
    border-radius: 22px;
    flex-direction: row;
    margin-right: 12px;
    -webkit-tap-highlight-color: transparent; /* Removes tap highlight */
}
.red {
    color: red;
}
